{% load i18n %} {% load static %}
<div class="container">
	<header
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
				<svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
					<use xlink:href="#bootstrap" />
				</svg>
			</a>
		</div>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			{% if user.is_authenticated %}
			<li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>

			<!--  -->
			{% url 'account_email' as email_url_ %}
			<!--  -->
			{% if email_url_ %}
			<li>
				<a class="nav-link px-2" href="{{ email_url_ }}">{% trans "Change Email" %}</a>
			</li>
			{% endif %}
			<!--  -->
			{% url 'account_change_password' as change_password_url_ %}
			<!--  -->
			{% if change_password_url_ %}
			<li>
				<a class="nav-link px-2" href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
			</li>
			{% endif %}
			<!--  -->
			{% url 'socialaccount_connections' as connections_url_ %}
			<!--  -->
			{% if connections_url_ %}
			<li>
				<a class="nav-link px-2" href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
			</li>
			{% endif %}
			<!--  -->
			{% url 'mfa_index' as mfa_url_ %}
			<!--  -->
			{% if mfa_url_ %}
			<li>
				<a class="nav-link px-2" href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
			</li>
			{% endif %}
			<!--  -->
			{% url 'usersessions_list' as usersessions_list_url_ %}
			<!--  -->
			{% if usersessions_list_url_ %}
			<li>
				<a class="nav-link px-2" href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
			</li>
			{% endif %}
			<!--  -->
		</ul>
		<div class="col-md-3 text-end">
			{% url 'account_logout' as logout_url_ %}
			<!--  -->
			{% if logout_url_ %}

			<a class="btn btn-sm btn-danger me-2" href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>

			{% endif %}
			<!--  -->
			{% else %}
			<!--  -->
			{% url 'account_login' as login_url_ %}
			<!--  -->
			{% if login_url_ %}

			<a class="btn btn-sm btn-outline-primary me-2" href="{{ login_url_ }}">{% trans "Sign In" %}</a>

			{% endif %}
			<!--  -->
			{% url 'account_signup' as signup_url_ %}
			<!--  -->
			{% if signup_url_ %}

			<a class="btn btn-sm btn-primary me-2" href="{{ signup_url_ }}">{% trans "Sign Up" %}</a>

			{% endif %}
			<!--  -->
		</div>
		{% endif %}
	</header>
</div>
