[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-environ = "*"
crispy-bootstrap5 = "*"
requests = "*"
python-dateutil = "*"
whitenoise = "*"
psycopg = {extras = ["binary"], version = "*"}
pytest-django = "*"
pytest-xdist = "*"
pytest-sugar = "*"

[dev-packages]
ruff = "*"
django-browser-reload = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
